---
title: TADS 3 - The Text Adventure Development System
layout: default
---
<section class="jumbotron">
    <header>
        <span>
            <a href="index.html">TADS 3</a>
        </span>

        <input id="menu-toggle" type="checkbox" />
        <label class="menu-button-container" for="menu-toggle">
            <div class="menu-button"></div>
        </label>

        {% include landingpage/nav.html %}
    </header>
    {% include landingpage/intro.html %}
</section>
    <div class="container">
        <section id="info">
            {% include landingpage/benefits.html %}

            {% include landingpage/code.html %}

            {% include landingpage/learnmore.html %}
        </section>
        <section id="features">
            {% include landingpage/features.html %}
        </section>
        <section id="install">
            {% include landingpage/install.html %}
        </section>
        <section id="learn">
            {% include landingpage/learn.html %}
        </section>
        <section id="faq">
            {% include landingpage/faq.html %}
        </section>
        <section id="showcase">
            {% include landingpage/showcase.html %}
        </section>
        <section id="timeline">
            {% include landingpage/timeline.html %}
        </section>
    </div>