---
title: TADS 3 - The Text Adventure Development System
description: The most powerful and flexible interactive fiction authoring tool, built for programmers.
layout: default
toroot: ./
styleType: styles
---
<section class="jumbotron">
    <header>
        {% include headercore.html %}

        {% include landingpage/nav.html %}
    </header>
    {% include landingpage/intro.html %}
</section>
    <div class="container">
        <section id="info">
            {% include landingpage/benefits.html %}

            {% include landingpage/code.html %}

            {% include landingpage/learnmore.html %}
        </section>
        <section id="features">
            {% include landingpage/features.html %}
        </section>
        <section id="install">
            {% include landingpage/install.html %}
        </section>
        <section id="learn">
            {% include landingpage/learn.html %}
        </section>
        <section id="faq">
            {% include landingpage/faq.html %}
        </section>
        <section id="showcase">
            {% include landingpage/showcase.html %}
        </section>
        <section id="timeline">
            {% include landingpage/timeline.html %}
        </section>
    </div>
