<ol>
    <li>
        Download and extract a copy of the <a href="https://github.com/realnc/frobtads/releases" target="_blank" rel="noopener noreferrer">latest FrobTADS source code</a>.<br>
        (It is recommended to move the extracted <code class="terminal-command">frobtads-2.0</code>&nbsp;directory to your home <code class="terminal-command">~</code>&nbsp;directory.)
    </li>
    <li>
        Open a terminal from <code class="terminal-command">/Applications/Utilities/Terminal.app</code>.
    </li>
    <li>
        Find God. (Just kidding; still need to write this bit, based on the MacOS install docs)
    </li>
</ol>