<img class="text-os-icon" src="{{"assets/windows-svgrepo-com.svg" | prepend: page.toroot}}"/><em style="margin-left:1em;">WINDOWS</em><br>
<a href="#workbench-windows" style="margin-left:4em;">Workbench</a><br>
<a href="#vscode-windows" style="margin-left:4em;">VSCode</a><br>
<br>
<img class="text-os-icon" src="{{"assets/macos-svgrepo-com.svg" | prepend: page.toroot}}"/><em style="margin-left:1em;">MAC</em><br>
<a href="#vscode-macos" style="margin-left:4em;">VSCode</a><br>
<br>
<img class="text-os-icon" src="{{"assets/linux-svgrepo-com.svg" | prepend: page.toroot}}"/><em style="margin-left:1em;">LINUX</em><br>
<a href="#vscode-linux" style="margin-left:4em;">VSCode</a><br>
<a href="#terminal-linux" style="margin-left:4em;">Terminal</a>&nbsp;&nbsp;(&nbsp;vim&nbsp;/&nbsp;emacs&nbsp;/&nbsp;etc&nbsp;)