<img class="text-os-icon" src="{{"assets/windows-svgrepo-com.svg" | prepend: page.toroot}}"/>&nbsp;&nbsp;<em>WINDOWS</em><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#workbench-windows">Workbench</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#vscode-windows">VSCode</a><br>
<br>
<img class="text-os-icon" src="{{"assets/macos-svgrepo-com.svg" | prepend: page.toroot}}"/>&nbsp;&nbsp;<em>MAC</em><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#vscode-macos">VSCode</a><br>
<br>
<img class="text-os-icon" src="{{"assets/linux-svgrepo-com.svg" | prepend: page.toroot}}"/>&nbsp;&nbsp;<em>LINUX</em><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#vscode-linux">VSCode</a><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#terminal-linux">Terminal</a>&nbsp;&nbsp;(&nbsp;vim&nbsp;/&nbsp;emacs&nbsp;/&nbsp;etc&nbsp;)