<footer>
    <p>TADS is <a href="https://www.tads.org/copyright.htm">Copyright ©2001-2013 Michael J. Roberts</a>.  We
    do not claim authorship over, or any rights to, TADS 3 itself.
    </p>
    <p>This is an unofficial informational website made by fans of the TADS 3
    authoring system in an attempt to spread the word about what we believe
    to be an underappreciated system, and provide a repository for more up
    to date information than is contained on the original <a href="https://tads.org">tads.org</a> website,
    which hasn't been updated since roughly 2013. For more information,
    however, definitely go check out that website too, as there is a lot of
    content there that we haven't covered here, just as there is content
    here not covered there.</p>
</footer>
<script>
window.onscrollend = () => {
    if ( window.scrollY == 0 ) {
        window.history.pushState(null, null, window.location.pathname);
    }
}
</script>