/* copyright 2006 MJRoberts */
/* style sheet for TADS 3 Bookshelf */

* {
    transition: all 0.2s
}

:root {
    --purple: 64, 0, 64;
    --gray: #eee;
    --overlay: #eeeeee33;
    --orange: 170,92,75;
}

@font-face {
    font-family: Metropolis;
    src: url(../../assets/fonts/Metropolis-Regular.woff2);
}

@font-face {
    font-family: Metropolis;
    src: url(../../assets/fonts/Metropolis-Light.woff2);
    font-weight: 300;
}

@font-face {
    font-family: Metropolis;
    src: url(../../assets/fonts/Metropolis-RegularItalic.woff2);
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(../../assets/fonts/Metropolis-Bold.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Metropolis;
    src: url(../../assets/fonts/Metropolis-SemiBold.woff2);
    font-weight: 500;
}

@font-face {
    font-family: Metropolis;
    src: url(../../assets/fonts/Metropolis-ExtraBold.woff2);
    font-weight: 800;
}

@font-face {
    font-family: Metropolis;
    src: url(../../assets/fonts/Metropolis-Black.woff2);
    font-weight: 900;
}

body {
    background: #eee;
    font: 16pt serif;
    color: #000000;
    line-height: 1.4;
    margin: 0px 0px 0px 0px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Metropolis;
    font-weight: 900;
    text-align: center;
}

p {
    text-align: justify;
}

.main {
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 65ch;
}

header {
    /* flexbox */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    /* style */
    padding: 30px 15px;
    overflow: hidden;
    margin: 0 0;
    background: rgb(var(--purple));
    background-image: linear-gradient(112deg, rgba(var(--purple), 0.8) 0%, rgba(82,16,66,0.8) 52%, rgba(var(--orange), 0.8) 100%), url(assets/map.jpg);
    background-attachment: fixed;
    background-position: 0% 0%;
    background-size: cover;
    color: white;
}

header > span {
    flex-grow: 1;
    height: 45px;
    padding-left: 15px;
}

header > span > a {
    font-size: 25pt;
    color: white;
    font-family: Metropolis;
    font-weight: 700;
    text-decoration: none;
    line-height: 35pt;
}

@media (min-width: 700px) {
    header > span > a {
        font-size: 35pt;
    }
}
.menu-button-container {
    display: none;
    height: 30pt;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

nav {
    font-family: Metropolis;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-grow: 9;
    align-items: center;
}

header > span > a:hover {
    color: #dddddd;
    text-decoration: none;
}


.nav-element {
    height: 30pt;
    line-height: 30pt;
    display: inline-block;
    font-weight: 500;
    color: white;
    margin-right: 15px;
    padding: 0 15px;
    text-decoration: none;
}

.nav-element:hover {
    color: #ddd;
    text-shadow: 2px 2px 7px black;
    text-decoration: none;
}

.important {
    border-radius: 15px;
    background: var(--overlay);
}

.important:hover {
    background: #dddddd33;
    color: #ddd;
    text-shadow: none;
    box-shadow: 0px 0px 13px #555;
}
@media (max-width: 700px) {
    body {
        font-size: 14pt;
    }
    .menu-button-container {
        display: flex;
    }
    nav {
        position: absolute;
        top: 0;
        margin-top: 75pt;
        left: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    #menu-toggle ~ nav .nav-element {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ nav .nav-element {
        height: 45pt;
        line-height: 45pt;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ nav .current {
        border-bottom: 3px solid white;
    }
    .nav-element {
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        backdrop-filter: blur(2px);
        background-color: #11111133;
        border-radius: 0px;
        text-shadow: 2px 2px 8px black;
    }

    #menu-toggle ~ #spacer {
        height: 0pt;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ #spacer {
        height: 170pt;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .important {
        background-color: var(--overlay);
    }
    .nav-element:active {
        color: #eee;
        background-color: #11111155;
        backdrop-filter: blur(8px);
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table.book {
    border-collapse: collapse;
    border-separate: 1px;
}

a.visible {
    text-decoration: underline;
}

hr.dotted {
    height: 1px;
    border: 1px dotted gray;
    margin-top: 1em;
}

table.book td {
   vertical-align: top;
   padding-top: 1em;
   padding-bottom: 1em;
}

table.book hr.dotted {
    margin-top: 0em;
    margin: 0 4em 0 4em;
}

td.bookimg {
   text-align: center;
   padding-left: 1em;
   padding-right: 2em;
}

td.bookimg img {
   border-style: none;
}

img.margin {
   margin-left: 1em;
}

.title {
    font-family: Metropolis;
    color: #400040;
    font-size: 18pt;
    font-weight: 700;
}
.title:hover {
    text-decoration: none;
}

.current {
    border-bottom: 3px solid white;
}
ul.toc {
    list-style-type: none;
}
