@import "monokai.css";
:root {
    --purple: 64, 0, 64;
    --gray: #eee;
    --overlay: #eeeeee33;
    --orange: 170,92,75;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Regular.woff2);
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Light.woff2);
    font-weight: 300;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-RegularItalic.woff2);
    font-style: italic;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Bold.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-SemiBold.woff2);
    font-weight: 500;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-ExtraBold.woff2);
    font-weight: 800;
}

@font-face {
    font-family: Metropolis;
    src: url(fonts/Metropolis-Black.woff2);
    font-weight: 900;
}

body {
    line-height: 1.5em;
    width: 100%;
    margin: 0;
    font-family: Metropolis;
    font-size: 16pt;
    font-weight: 300;
}

* {
    transition: all 0.2s
}

header {
    /* flexbox */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;

    /* style */
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    overflow: hidden;
    margin: 0 0;
}

header > span {
    flex-grow: 1;
    height: 45px;
    padding-left: 15px;
}

header > span > a {
    font-size: 25pt;
    color: white;
    font-weight: 700;
    text-decoration: none;
    line-height: 35pt;
}

@media (min-width: 700px) {
    header > span > a {
        font-size: 35pt;
    }
}

header > span > a:hover {
    color: #dddddd;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    flex-grow: 9;
    align-items: center;
}

.nav-element {
    height: 30pt;
    line-height: 30pt;
    display: inline-block;
    font-weight: 500;
    color: white;
    margin-right: 15px;
    padding: 0 15px;
    text-decoration: none;
}

.nav-element:hover {
    color: #ddd;
    text-shadow: 2px 2px 7px black;
}

.important {
    border-radius: 15px;
    background: var(--overlay);
}

.important:hover {
    background: #dddddd33;
    color: #ddd;
    text-shadow: none;
    box-shadow: 0px 0px 13px #555;
}

.button {
    text-decoration: none;
    color: white;
    font-weight: 500;
    height: 30pt;
    padding: 15px;
    text-align: center;
    line-height: 30pt;
    margin: 15px;
    backdrop-filter: blur(2px);
}

.button:hover {
    color: #ddd;
    box-shadow: 0px 0px 13px #eeeeee33;
}

.jumbotron {
    padding: 15px;
    min-height: 340pt;
    background: rgb(var(--purple));
    background-image: linear-gradient(112deg, rgba(var(--purple), 0.8) 0%, rgba(82,16,66,0.8) 52%, rgba(var(--orange), 0.8) 100%), url(map.jpg);
    background-attachment: fixed;
    background-position: 0% 0%;
    background-size: cover;
    color: var(--gray);
}

.jumbotron > h1 {
    color: white;
    text-align: center;
    font-size: 30pt;
}

.jumbotron > p {
    max-width: 35ch;
    text-align: center;
    margin: auto auto;
    padding: 25px;
    text-shadow: 2px 2px 7px black;
    font-size: 18pt;
}

.columns {
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
}

.columns > li {
    display: flex;
    flex-shrink: 5;
    flex-direction: column;
    flex: 1 0;
    scroll-snap-align: start;
    text-align: center;
    padding: 15px;
    border: 1px solid white;
}

.columns > li:not(:last-child) {
    margin-right: 15px;
}

.cards {
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.card {
    display: flex;
    flex-direction: column;
    flex: 0 0 40%;
    min-height: 250pt;
    padding: 20px;
    background: rgba(var(--purple), 0.9);
    color: white;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
}

@media (max-width: 700px) {
    .card {
        flex: 0 0 80%;
    }
}

.card:not(:last-child) {
    margin-right: 10px;
}

.container {
    margin: 0 auto;
    padding: 15px 15px;
    max-width: 65ch;
}

h1, h2, h3 {
    text-align: center;
}

li {
    margin: 1em 0;
}

em {
    font-weight: normal;
    font-style: normal;
    color: rgb(225, 142, 25);
}

section#install {
    background-color: #eee;
    min-height: 600px;
    margin-top: 0px;
    padding: 45px;
}

section#learn {
    min-height: 800px;
    margin-top: 0px;
    padding: 45px;
}

section#faq {
    background-color: #eee;
    min-height: 800px;
    margin-top: 0px;
    padding: 45px;
}

section#showcase {
    min-height: 800px;
    margin-top: 0px;
    padding: 45px;
}


.menu-button-container {
    display: none;
    height: 30pt;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    body {
        font-size: 14pt;
    }
    .container {
    }
    .jumbotron {
        background-position: 45% -100%;
    }
    .menu-button-container {
        display: flex;
    }
    nav {
        position: absolute;
        top: 0;
        margin-top: 75pt;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ nav .nav-element {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ nav .nav-element {
        height: 45pt;
        line-height: 45pt;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle ~ #spacer {
        height: 0pt;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ #spacer {
        height: 250pt;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .nav-element {
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        backdrop-filter: blur(2px);
        background-color: #11111133;
        border-radius: 0px;
        text-shadow: 2px 2px 8px black;
    }
    .important {
        background-color: var(--overlay);
    }
    .nav-element:active {
        color: #eee;
        background-color: #11111155;
        backdrop-filter: blur(8px);
    }
}

.icon {
    filter: invert(100%);
    width: 20pt;
    height: 20pt;
    vertical-align: middle;
    margin: 0px 10px;
}

#what-interp, #what-comp, #what-ed {
    color: rgba(var(--purple));
    filter: brightness(600%);
}

.marketing-icon {
    display: block;
    height: 45pt;
    width: 45pt;
    margin: 0 auto;
    filter: invert(7%) sepia(37%) saturate(7114%) hue-rotate(289deg) brightness(101%) contrast(109%);
}

.feature-top {
    height: 110pt;
}

.timeline {
    background: var(--primary-color);
    margin: 20px auto;
    padding: 20px;
}

.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Timeline-Card container */
.timeline-card {
    position: relative;
    max-width: 400px;
}

/* setting padding based on even or odd */
.timeline-card:nth-child(odd) {
    padding: 30px 0 30px 30px;
}
.timeline-card:nth-child(even) {
    padding: 30px 30px 30px 0;
}
/* Global ::before */
.timeline-card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid rgb(225, 142, 25);
}

/* Setting the border of top, bottom, left */
.timeline-card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
}

/* Setting the top and bottom to "-5px" because earlier it was out of a pixel in mobile devices */
@media only screen and (max-width: 400px) {
    .timeline-card:nth-child(odd)::before {
        top: -5px;
        bottom: -5px;
    }
}

/* Setting the border of top, bottom, right */
.timeline-card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first timeline-card */
.timeline-card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
}

/* Removing the border if it is the last timeline-card  and it's odd */
.timeline-card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
}

/* Removing the border if it is the last timeline-card  and it's even */
.timeline-card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
}

/* Timeline-Information about the timeline */
.timeline-info {
    display: flex;
    flex-direction: column;
    border: 2px solid #400040;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0px 0px 13px #555;
}

/* Timeline-Title of the timeline-card */
.timeline-title {
    color: rgb(225, 142, 25);
    position: relative;
    text-align: left;
}

/* Timeline dot  */
.timeline-title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid rgb(225, 142, 25);
}

/* text right if the timeline-card is even  */
.timeline-card:nth-child(even) > .timeline-info > .timeline-title {
    text-align: right;
}

/* setting dot to the left if the timeline-card is odd */
.timeline-card:nth-child(odd) > .timeline-info > .timeline-title::before {
    left: -62px;
}

/* setting dot to the right if the timeline-card is odd */
.timeline-card:nth-child(even) > .timeline-info > .timeline-title::before {
    right: -62px;
}

footer {
    background: #eee;
    padding: 15px;
}

.code-pen {
    width: fit-content;
    margin: 0 auto;
}

pre {
    line-height: 15pt;
    font-size: 13pt;
    margin: 0 0;
    overflow: scroll;
    max-height: 65ch;
    max-width: 65ch;
    white-space: pre-wrap;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    padding: 5px 0px;
}

pre::-webkit-scrollbar {
  display: none;
}

em > a {
    color: inherit;
}

.download-button {
    display: block;
    width: fit-content;
    border-radius: 15px;
    background: #400040;
    padding: 25px;
    padding-left: 15px;
    margin: 15px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.download-button:hover {
    box-shadow: 0px 0px 13px #555;
}

.side-by-side {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
}

@media (max-width: 700px) {
    .side-by-side {
        flex-direction: column;
    }
}
.side-by-side > div {
    flex: 1;
}
.side-by-side > div:not(:last-child) {
    margin-right: 5px;
}
