{% include headcode.html %}
<body>
<section class="jumbotron">
    <header>
        {% include headercore.html %}
        <nav class="menu">
            {% for item in site.data.docs.toc %}
                <a  class="nav-element {% if item.url == page.url %}current{% endif %}" href="{{ item.url | prepend: page.toroot}}">{{ item.title }}</a>
            {% endfor %}
        </nav>
        <div id="spacer"></div>
    </header>
</section>
<div class="main">
    {{ content | markdownify }}
</div>
{% include footer.html %}
</body>
</html>
