{% include headcode.html %}
<body>
<section class="jumbotron">
    <header>
        {% include headercore.html %}

        <nav class="menu">
            <a class="nav-element" href="{{"docs/adv3lite/index.htm" | prepend: page.toroot}}">Adv3Lite Bookshelf</a>
            <a class="nav-element" href="{{"docs/adv3/index.htm" | prepend: page.toroot}}">Adv3 Bookshelf</a>
            <!-- TODO: When we make cheat sheets, make sure to encapsulate this with the above prepend page.toroot step -->
            <a class="nav-element" href="#">Cheat Sheets</a>
        </nav>
        <div id="spacer"></div>
    </header>
</section>
<div class="main">
    {{ content | markdownify }}
</div>
{% include footer.html %}
</body>
</html>
