<h1>Empowering Ambitious Authors</h1>
<p>TADS 3 is a <em>powerful and flexible interactive fiction
authoring system</em> designed and built for <em>ambitious
authors</em>. It brings to the table a <em>dynamic</em> yet <em>fun
to use</em> object-oriented programming language that's
purpose-built for writing primarily <em>parser-based</em>
interactive fiction, and two standard libraries that push the
boundaries of what the medium is capable of in terms of
<em>simulation</em>, <em>customization</em>, and
<em>multimedia</em>.<br/><br/></p>