<h2>Ready to <em>learn more</em>?</h2>

<p>TADS 3 is comprised of several core components:</p>
<ol>
<li>A <em><a href="./docs/adv3/sysman/langsec.htm">special-purpose object-oriented programming language</a></em> designed with concise yet readable syntax and a focus on
<em>extensibility</em>, <em>dynamic typing</em>, and <em>declarative data declaration as a first-class citizen</em>. It has features like advanced multiple inheritance, multimethods, operator overloading, a garbage collector, anonymous functions. Smalltalk-style catch-all methods, runtime reflection, and more. Think of it like JavaScript's syntax, Ruby's object model, and many of C++'s features mixed together. Yet, at the same time the TADS 3 language makes growing and modifying your game&mdash;and the standard library!&mdash;faster and more fun than a general purpose language because although it is general purpose, it has been custom-designed for the use case of authoring semantic simulations like interactive fiction games.</li>

<li>Two powerful <em>text-adventure-specific <a href="./docs/adv3/index.htm">standard</a> <a href="./docs/adv3lite/index.htm">libraries</a></em> containing <em>advanced world models</em> that have things like <em>room parts</em>, <em>sense-passing</em>, a complex understanding of <em>attachable and detachable sub components and object relationships</em>, and <em>hundreds of different powerful properties</em> to customize the precise
behavior of each object, an advanced and extremely customizable parser that can understand arbitrary custom sentences, and perform user-customizable spell check&mdash;and more.</li>

<li>A performant <em>compiler</em> designed to be simple, flexible, and easy to use with any build system you want.</li>

<li>An advanced <em>virtual machine</em> specifically designed for text-based simulations and multimedia output, but capable of much more.</li>
</ol>

<p>In addition, there are also different kinds of <em>interpreters</em> that use the virtual machine to run your TADS games and then interpret the output produced by the games into the multimedia output and graphical user interface players see.</p>

<p>To learn more about, and download, these components, see <a href="#install">below.</a></p>

<p>TADS 3 also has an <i>extensive</i> set of learning resources, including roughly <em>eight book-length references and guides</em>, all of which are detailed, orderly, clear, and thorough. If you've struggled with the documentation of other interactive fiction authoring systems in the past, or are concerned that using such a niche piece of software will make answers hard to find, fear not! Michael J. Roberts and Eric Eve have ensured that no TADS programmer will ever stay confused for long. For more information on which manuals to read and where to find a full list of TADS documentation for each of the respective standard libraries, please consult the relevant section <a href="#learn">below.</a></p>