<h2>Which standard library should I choose, <em>adv3</em> or <em>adv3Lite</em>?</h2>

<p>Yes, that's right, TADS 3 has <i>two</i> standard libraries! Here's the breakdown:</p>

<div class="side-by-side">
    <div id="adv3">
        <!-- extend this to be more fair! -->
        <img class="marketing-icon" src="assets/beard-svgrepo-com.svg"/>
        <h3>The big, complex, full-featured graybeard: <em>adv3</em></h3>
        <p><em><a href="https://www.tads.org/ov_lib.htm">Adv3</a></em>
            is the <em>default standard library</em> distributed with TADS 3.
            It is quite old, having been created along with TADS in
            2006 and last having been updated in 2013, but that
            comes along with some benefits as well as some
            downsides. The main benefit of using adv3 is that it
            is a coherent, integrated whole, one single
            <i>incredibly</i> complete and complex</em> world model
            where everything integrates with everything else. It
            comes packed with every concievable object type, class,
            or feature you could possibly need, and an
            <em>incredibly complex world model</em>
            already wired up and integrated into the whole, so that
            any game you create with it will automatically be
            running with a world model more complex than almost any
            parser interactive fiction game.</p>

        <p> The downside, however, is that adv3 relies on an
            incredibly <em>deep and complex multiple inheritence class
            hierarchy</em> and a <em>huge number of highly specific classes,</em>
            which it relies heavily on as mix-ins to customize the
            behavior of objects. Moreover, it is not particularly
            modular, so every game you write with it will have to
            bring in that whole gigantic world model. Furthermore,
            it is <em>not as explicitly designed for extensibility or
            customizability</em> as adv3Lite is. Thus, if you want a very
            complex and simulation-heavy parser game, and what you
            want to do fits with the existing carefully crafted
            complex world model of adv3, then it might be for you.
            If not, you might want to look at adv3Lite.</p>

        <p>Another downside is that adv3 lacks many of the features popular
            in modern interactive fiction authoring systems, such as
            scenes, regions, rules, relations, and more.</p>
        <ul>
            <li><em>Room parts</em> and <em>postures</em> included as default</li>
            <li>A large assortment of already premade objects
                and behaviors (there are 150 subclasses of the Thing category
                alone, including things like Chairs, Beds, Platforms, Booths,
                Nested Rooms, Vehicles, Floorless Rooms, Dispenser, Matchbook,
                StretchyContainer, Distant, Enterable, Stairway, and more)</li>
            <li><em>Multiple lighting levels</em></li>
            <li>Real time processing</li>
            <li>Sense passing</li>
            <li>Sensory <em>attenuation</em></li>
            <li>Different <em>sensory media</em></li>
            <li>Built-in provisions for <em>entirely new senses</em></li>
            <li>Several different scoring systems</li>
        </ul>
    </div>

    <div id="adv3lite">
        <img class="marketing-icon" src="assets/feather-svgrepo-com.svg"/>
        <h3>The lightweight, modular, and modern newcomer: <em>adv3Lite</em></h3>
        <p><em><a href="https://users.ox.ac.uk/~manc0049/TADSGuide/adv3Lite.htm">Adv3Lite</a></em>
            is a newer standard library created by Eric Eve, and has
            been updated as recently as 2023. Although the main
            benefit of adv3Lite is that <em>the class hierarchy is much
            simpler</em>, since most customization for objects has been
            relocated to properties on a single class representing
            the object's general kind, instead of in a main base
            class and several mix-in classes, <em>the "lite" in the name
            is somewhat of a misnomer</em>. This restructuring allows
            much <em>greater flexibility in creating custom objects and
            makes the library easier to learn</em>, but <em>only a few
            features have been streamlined out in the process</em>, and many of
            the common ones &mdash; such as room parts, postures, and
            library classes as a shorthand for properties &mdash; <em>can be
            added back via extensions</em>.</p>

        <p>Instead, <em>the library is
            "lite" because it has been specifically designed with
            modularity and extensiblility in mind</em>. Adv3Lite makes
            customizing game mechanics, changing the world model, or
            creating extensions in ways that wouldn't slot neatly
            into adv3's existing world model easier and more
            powerful, and if you're not using specific game
            mechanics, your game doesn't have to import them and
            your code doesn't have to deal with them, unlike with
            adv3 where the whole complex world model is turned on at
            all times.</p>

        <p>However, as the adv3Lite website says, you get several
            crucial new features with adv3Lite that have become
            popular in the modern interactive fiction authoring
            space and which adv3 does not offer:</p>

        <ul>
            <li><em>Doers</em>, which work like <em>Instead rules</em> in Inform 7,
                allowing you to specify command queries that apply under certain
                conditions and override the default action;</li>

            <li><em>the vocab property</em>, which allows you to define
                several vocabulary-related properties of an object all at once
                in a concise and convenient manner more akin to how it works in
                Inform;</li>

            <li>a <em>world-model query system</em> for making queries about
                the general state of the world;</li>

            <li><em>message parameter substitutions</em>
                to automatically decline/conjugate based on person, number, and
                tense, including working for over <em>200 irregular verbs</em> and many plurals;</li>

            <li>built in <em>pathfinding</em> for players and AIs;</li>

            <li>built in debugging commands;</li>

            <li><em>regions</em> and region-located backdrops, scenery, events,
                actions, senses, and so on;</li>

            <li>scenes;</li>

            <li>automatic grouping of objects;</li>

            <li>built in help for new players;</li>

            <li>and a significantly enhanced conversation and NPC AI
                system.</li>
        </ul>
    </div>
</div>

<p>There is also an <em><a href="https://www.ifarchive.org/indexes/if-archiveXprogrammingXtads3XlibraryXcontributions">extensive
list</a></em> of other community-contributed extensions and
libraries on the IF Archive, should you need features not available
even in the existing standard libraries. All of these are compatible
with adv3 and most can probably be trivially made compatible with
adv3Lite, in our experience. Just a few of the delightful things you'll
find there include qtalk, an impressively feature-complete plugin for
Fallout-style menu based conversation, Achievement, a library for
creating and persistently storing Steam-style achievements,
and ConSpace, an extension that enhances the modelling of spatial
relations and allows several rooms to act as one large subdivided
location!</p>

<h2>Learning resources for <em>adv3Lite</em></h2>

<p>If you decide to use adv3Lite, you can <em><a
href="https://github.com/EricEve/adv3lite/releases">download the
latest version of the adv3Lite library from GitHub</a></em>. Please
ignore the other download locations mentioned in the adv3Lite
documentation, things have changed since then. Other than that, the
documentation below is adequately up to date.</p>

<a class="download-button" href="https://github.com/EricEve/adv3lite/releases">
    <img class="icon" src="assets/github-svgrepo-com.svg"/>
    Download
    Adv3Lite
</a>

<p>The main hub for adv3Lite documentation is the <em><a
href="./docs/adv3lite/index.htm">Adv3Lite Bookshelf.</a></em> The
resources found there will teach you both the TADS 3 language and
the Adv3Lite library. The bookshelf contains:</p>

<ol>
    <li>the <em><a href="./docs/adv3lite/t3QuickStart.htm">Adv3Lite
    Quick Start Quide</a></em>, demonstrating how to install the
    Adv3Lite library and set up a project,</li>

    <li>a gentle but fairly wide-ranging <em><a
    href="./docs/adv3lite/tutorial/index.htm">Adv3Lite
    Tutorial</a></em> aimed at beginners who are new to both
    programming and TADS 3,</li>

    <li>a very thorough yet readable guide <em><a
    href="./docs/adv3lite/learning/LearningT3Lite.pdf">Learning TADS
    3 With Adv3Lite</a></em>, which assumes general programming
    knowledge but teaches you the TADS 3 language and adv3Lite at
    the same time organized by topic, with detailed technical
    information as well as tutorial-like instruction and examples,
    so that it functions very well as both a guide and reference
    manual,</li>

    <li>the impressive <em><a
        href="./docs/adv3lite/manual/index.htm">Adv3Lite Library
        Manual</a></em>, which is a comprehensive reference manual
        for adv3Lite that covers almost every significant aspect of
        the library (think of it like the <a
        href="https://www.oreilly.com/library/view/opengl-programming-guide/9780321669292/">OpenGL
        Programming Guide</a>, but for Adv3Lite),</li>

    <li>and the <em><a
    href="./docs/adv3lite/libref/index.html">Adv3Lite Library
    Reference Manual</a></em>, which is an extensively
    cross-referenced and hyperlinked complete reference
    documentation for the <b>entirety</b> of the Adv3Lite library in
    extreme detail, auto generated from documentation comments in
    the codebase of the library itself.</li>
</ol>

<p>There are other resources not found in the Bookshelf, however, including:</p>

<ul>
    <li>the <em><a href="https://jimbonator.github.io/tads-cookbook/adv3Lite/">Adv3Lite
Periplus</a></em>, which is a general reference for various TADS 3
        and Adv3Lite features, organized by subject matter and
        collected from the various other documentation, and
        containing links to the relevant documentation should you
        want to expore further, and</li>
    <li>the <em><a
href="https://github.com/jimbonator/tads-cookbook">TADS 3
Cookbook</a></em>, which is pretty sparse at the moment but which
contains snippets on how to perform various tasks you might want to
        perform</li>
</ul>

<h2>Learning resources for <em>adv3</em></h2>

<p>Adv3 itself also has a bookshelf, called the <em><a
href="./docs/adv3/index.htm">TADS 3 Bookshelf</a></em> containing
much of its relevant documentation, containing:</p>

<ol>
    <li>a <em><a href="./docs/adv3/T3QuickStart.htm">TADS 3 Quick
    Start Guide</a></em> (which serves much the same purpose as the
    adv3Lite has, above),</li>

    <li>the <em><a href="./docs/adv3/gsg/index.html">Getting Started
    in TADS 3</a></em> guide, which serves the same purpose as
    <i>Adv3Lite Tutorial</i> above,</li>

    <li>a version of <em><a
    href="./docs/adv3/learning/Learning%20T3.pdf">Learning TADS 3
    for adv3</a></em>,</li>

    <li>the <em><a href="./docs/adv3/tourguide/index.html">TADS 3
    Tour Guide</a></em>, which serves something like the purpose of
    the Adv3Lite Library Manual, but is organized by library class
    instead of subject and generally goes into less detail about
    abstract concepts,</li>

    <li>and finally the <em><a
    href="./docs/adv3/libref/index.html">TADS 3 Library Reference
    Manual</a></em>, which is equivalent to the Adv3Lite one
    above.</li>
</ol>

<p>There is also an <em><a href="https://jimbonator.github.io/tads-cookbook/adv3/">Adv3 Periplus</a></em> as
well, which can be a useful reference.</p>

<h2>Advanced learning resources for <em>TADS 3</em></h2>

<p>The introductory materials and guide books for both adv3 and
adv3Lite will also teach you the TADS 3 language for the most part
(especially Learning TADS 3 and Learning TADS 3 with Adv3Lite). If
you don't know the TADS 3 language at all and are looking to get
started with it, those are the resources you'll want to use.
However, there are some language specific resources as well:</p>

<ol>
    <li>the <em><a href="./docs/adv3/sysman/cover.htm">TADS 3 System
    Manual</a></em>, which provides a comprehensive and
    <i>in-depth</i> reference for every feature in the TADS 3
    language and virtual machine and how it works, including
    intrinsic functions and classes, and</li>

    <li>Eric Eve's <em><a
    href="http://users.ox.ac.uk/~manc0049/TADSGuide/intro.htm">TADS
    3 resources page</a>, and</em></li>

    <li>the <em><a href="./docs/adv3/techman/cover.htm">TADS 3
    Technical Manual</a></em>, a collection of articles by various
    on detailed technical subjects regarding the TADS 3 language and
    VM,</li>

    <li>the <em><a
    href="./docs/adv3/htmltads/intro.htm">Introduction to HTML
    TADS</a></em> which documents the multimedia capabilities and
    HTML subset that standard interpreted HTML TADS uses.</li>
</ol>

<p>There is also <a
href="https://midiguru.wordpress.com/2022/06/16/from-inform-to-tads/">a
brief overview of the TADS 3 language specifically from the
perspective of someone used to Inform</a> which may help IF authors
looking to switch.</p>

<h2>Welcome to the <em>community!</em></h2>

<p>If you have more questions about TADS, want to share a project of
yours, or just want to come and chat, you can find the TADS 3
community on the <em><a
href="https://intfiction.org/c/authoring/tads/20">IntFiction
Forums</a></em>!</p>