<h2>Some <em>noteworthy games</em> made with TADS 3</h2>

<p>{{ site.data.intro.showcase.blurb | markdownify }}</p>

<section class="carousel" aria-label="Gallery">
    <ol class="carousel__viewport">
        {% for item in site.data.intro.showcase.showcases %}
            <li id="carousel__slide{{ forloop.index }}"
                tabindex="0"
                class="carousel__slide">
                <div class="carousel__snapper">

                    <img class="gamescreenshot" src="assets/htmltadsdemo1.png">

                    <a href="#carousel__slide{{ forloop.index | minus: 1 }}"
                       class="carousel__prev">Go to last slide</a>


                    <div class="gamecard">
                        <img src="{{ item.cover }}"/>
                        <div>
                            <h3>{{ item.title }}</h3>
                            <p><i>by {{ item.author }}</i> <b>({{ item.year }})</b></p>
                        </div>
                    </div>

                    <div class="gameblurb">{{ item.blurb | markdownify }}</div>

                    <a href="#carousel__slide{{ forloop.index | plus: 1 }}"
                       class="carousel__next">Go to next slide</a>
                </div>
            </li>
        {% endfor %}
    </ol>
    <aside class="carousel__navigation">
        <ol class="carousel__navigation-list">
            {% for item in site.data.intro.showcase.showcases %}
                <li class="carousel__navigation-item">
                    <a href="#carousel__slide{{ forloop.index }}"
                       class="carousel__navigation-button">Go to slide {{ forloop.index }}</a>
                </li>
            {% endfor %}
        </ol>
    </aside>
</section>
